<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1" content="text/html; charset=UTF-8">
	<link th:href="@{/resources/css/main.css}" rel="stylesheet"/>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
	<!-- CSS for pagination -->
	<th:block th:replace="fragments/style/paginationStyle"></th:block>
	<title>List of Category</title>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-light" th:replace="fragments/navigationBar"></nav>
		
		<h2>List of Category</h2>
		<button
			onclick="window.location.href = 'showFormForAdd'; return false;"
			class="btn btn-primary">Add Category</button>
			<br/><br/>
		<table class="table table-striped" id="categoryListTable">
			<thead>
				<tr>
					<th>Code</th>
					<th>Name</th>
					<th>Description</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="category : ${categoryList}">
					<tr>
						<td th:text="${category.code}"></td>
						<td th:text="${category.name}"></td>
						<td th:text="${category.desc}"></td>
						<td>
							<a class="btn btn-primary" th:href="@{'/category/pageUpdate?categoryCode=' + ${category.code}}">Update</a>
							<a class="btn btn-danger" th:href="@{'/category/deleteCategory?categoryCode=' + ${category.code}}">Delete</a>							
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
	<!-- only tableId parameter specified -->
	<th:block th:replace="fragments/script/PaginationScript :: paginationFragement(tableId='#categoryListTable')"></th:block>
</body>
</html>