<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1" content="text/html; charset=UTF-8">
	<link th:href="@{/resources/css/main.css}" rel="stylesheet" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
	<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<h2>Update Category</h2>
		<!-- <form th:action="@{/category/saveUpdate?categoryCode=' + ${category.code}}" th:object="${category}"> -->
		<form th:action="@{/category/saveUpdate}" th:object="${category}" th:include="fragments/Add-Update-Category">
		</form>
	</div>
</body>
</html>