<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1" content="text/html; charset=UTF-8">
	<link th:href="@{/resources/css/main.css}" rel="stylesheet"/>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
	<!-- CSS for pagination -->
	<th:block th:replace="fragments/style/paginationStyle"></th:block>
	<title>List of Category</title>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-light" th:replace="fragments/navigationBar"></nav>
		<h2>List of Type</h2>
		<button
			onclick="window.location.href = 'showFormForAddType'; return false;"
			class="btn btn-primary">Add Type</button>
			<br/><br/>
		<table class="table table-striped" id="typeListTable">
			<thead>
				<tr>
					<th>Code</th>
					<th>Name</th>
					<th>Description</th>
					<th>Category</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="type : ${typeList}">
					<tr>
						<td th:text="${type.code}"></td>
						<td th:text="${type.name}"></td>
						<td th:text="${type.desc}"></td>
						<td th:text="${type.category.name}"></td>
						<td>
							<a class="btn btn-primary" th:href="@{'/type/updateType?typeCode=' + ${type.code}}">Update</a>
							<a class="btn btn-danger" th:href="@{'/type/deleteType?typeCode=' + ${type.code}}">Delete</a>							
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
	
	<!-- for Pagination and Search-->
	<!-- datatables.min.js depends on jquery.min.js, that why we put it below jquery.min.js. -->
	<!-- Script for pagination -->
	<th:block th:include="fragments/script/PaginationScript :: frag ('#typeListTable')"></th:block>
	
</body>
</html>