<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="paginationFragement">
	<!-- for Pagination and Search-->
		<!-- datatables.min.js depends on jquery.min.js, that why we put it below jquery.min.js. -->
		
		<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
		<script type="text/javascript"
			src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>		
		<script type="text/javascript">
			
				$(document).ready(function() {
					$("[[${tableId}]]").DataTable(); //ref: https://stackoverflow.com/questions/22093149/thymeleaf-fragments-and-default-parameters
				});
			
		</script>
	</div>
</body>
</html>